---
import BaseHead from '~/components/base-head.astro'
import Header from '~/components/header.astro'
import Footer from '~/components/footer.astro'

interface Props {
  site_title: string
  site_description: string
}

const { site_title, site_description } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={site_title} description={site_description} />
    <script src='https://identity.netlify.com/v1/netlify-identity-widget.js'
    ></script>
  </head>
  <body class='scroll-smooth text-base'>
    <Header title={site_title} />
    <main>
      <slot />
    </main>
    <Footer />

    <script>
      declare global {
        interface Window {
          netlifyIdentity: any
        }
      }
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user: any) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/'
            })
          }
        })
      }
    </script>
  </body>
</html>
